.section-players{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    background: black;
    min-height: 30rem;
    padding: 3rem;
    .section--players-card{
 
        padding: 1rem;
        >h2{
            text-align: center;
        }
        color: white;
        width: 20rem;
        background: #121212;
      li{
          display: flex;
          flex-direction: row; 
          justify-content: space-between;
      }
    }
}