.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-row {
  flex-direction: row !important;
}
.flex-col {
  flex-direction: column !important;
}
.flexb-10 {
  flex-basis: 10%;
}
.flexb-20 {
  flex-basis: 20%;
}
.flexb-30 {
  flex-basis: 30%;
}
.flexb-40 {
  flex-basis: 40%;
}
.flexb-50 {
  flex-basis: 50%;
}
.flexb-60 {
  flex-basis: 60%;
}
.flexb-70{
    flex-basis: 70%;
}
.flexb-80{
    flex-basis: 80%;
}
.flexb-90{
    flex-basis: 90%;
}
.flexb-100{
    flex-basis: 100%;
}
.justify-content-center{
 justify-content: center;
}
.justify-items-center{
  justify-items: center;
}
.gap-2{
  gap: 2rem;
}
.gap-4{
  gap: 4rem;
}
.gap-6{
  gap: 6rem;
}
.gap-8{
  gap: 8rem;
}
.gap-10{
  gap: 10rem;
}