@import '../modules/variables.scss';
html,body{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: $font-1;
}
button{
    cursor: pointer;
}
::-webkit-scrollbar{
    width: .5rem;
    background: #222;
}
::-webkit-scrollbar-thumb{
    background: rgb(167, 69, 69);
}